/* Products Page */
.products-page {
  display: flex;
}

/* Products filter */
.products-filter {
  flex-grow: 1;
  padding: 5em;
}

/* #### products grid #### */
.products-grid {
  max-width: 1400px;
  flex-wrap: wrap;
  display: flex;
  flex-grow: 4;
}

/* #### product component #### */
.item-image {
  min-width: 200px;
  max-width: 17em;
  width: auto;
  height: auto;
}

.item-wrapper {
  text-align: center;
  max-width: 17em;
  padding: 1em;
  margin: 1em !important;
}

